body {
    width: 100%;
    height: 100%;
}
.login-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}
.login-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    min-height: 400px;
}
.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    min-width: 350px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
}
.login-card > h3 {
    margin-top: 10px;
}
.login-card > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.login-card > form > div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.login-card > form > div > input {
    padding: 8px 6px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}
.login-card > form > div > input:hover,
.login-card > form > div > input:focus {
    border: 1px solid dodgerblue;
    -moz-box-shadow: 0 0 5px dodgerblue;
    -webkit-box-shadow: 0 0 5px dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}
#login-password-holder {
    position: relative;
}
#login-password-holder > a {
    position: absolute;
    left: 92%;
    top: 53%;
    background: none;
    border: 0px;
    outline: none;
    font-size:small;
    cursor: pointer;
}
